.font-50 {
  font-size: 25px; }

.font-30, body h3, .content .progress-circle {
  font-size: 15px; }

.font-18, body h5 {
  font-size: 9px; }

.font-16, body p, .card-label {
  font-size: 8px; }

.font-14, .card-label--item, .card .choose-item, .card .salary-label, .card .process > span {
  font-size: 7px; }

.clear::after {
  display: block;
  content: "";
  clear: both; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.middle {
  display: inline-block !important;
  vertical-align: middle !important; }

.top {
  display: inline-block !important;
  vertical-align: top !important; }

body {
  margin: 0 !important;
  font-size: 8px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #343a40; }
  body * {
    outline: 0 !important;
    text-align: left; }
  body img {
    width: 100%;
    max-width: 100%; }
  body svg {
    overflow: hidden;
    vertical-align: middle; }
  body p {
    margin: 0px;
    line-height: 13px;
    font-weight: 300;
    color: #022629; }
  body h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
    font-size: 18px;
    line-height: 23px; }
  body h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
    line-height: 20px; }
  body h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
    font-size: 12px;
    line-height: 17px; }
  body h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
    line-height: 14px; }
  body p {
    margin: 0px;
    line-height: 13px;
    font-weight: 300;
    color: #022629; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

.layout-templet {
  background: #e5f2f4; }

.container {
  width: 700px;
  margin: 0 auto;
  padding: 0 8px; }
  .container .pl-0 {
    padding-left: 0; }
  .container .pr-0 {
    padding-right: 0; }
  .container .pl-16 {
    padding-left: 8px; }
  .container .pr-16 {
    padding-right: 8px; }
  .container .p-0 {
    padding: 0; }
  .container .mb-15 {
    margin-bottom: 7px; }
  .container .mt-15 {
    margin-top: 7px; }
  .container .mb-0 {
    margin-bottom: 0 !important; }
  .container .font-700 {
    font-weight: 700; }
  .container .font-600 {
    font-weight: 600; }
  .container .font-500 {
    font-weight: 500; }
  .container .font-400 {
    font-weight: 400; }
  .container .font-300 {
    font-weight: 300; }
  .container .align-self-center {
    align-self: center !important; }
  .container .color-fff {
    color: #ffffff; }
  .container .color-ffffffb8 {
    color: #ffffffb8; }
  .container .color-ffffffc9 {
    color: #bccac2; }
  .container .icon {
    display: inline-block;
    opacity: 1;
    vertical-align: middle; }
  .container .w-100 {
    width: 100%; }

.header {
  padding: 2px 0;
  display: block;
  align-items: center;
  background: #08626f; }
  .header .logo {
    display: block;
    width: 75px;
    margin: 5px 0;
    padding: 0 8px; }

.content {
  padding-bottom: 36px; }
  .content .top-info {
    background: #005563;
    padding: 15px 0px; }
  .content .avatar {
    position: relative;
    overflow: hidden; }
    .content .avatar-img {
      width: 75px;
      height: 75px;
      border-radius: 2px;
      background-color: #fff;
      color: #e2f5f8; }
      .content .avatar-img img {
        border-radius: 2px;
        width: 75px;
        height: 75px;
        object-fit: contain; }
  .content .location {
    color: #fff;
    opacity: 0.6;
    display: inline-block;
    vertical-align: middle; }
    .content .location .icon {
      display: inline-block;
      max-width: 5px;
      margin-right: 4px; }
      .content .location .icon .marker {
        width: 5.25px; }
  .content .progress-circle {
    margin: 12px auto;
    width: 80px;
    height: 80px;
    color: #161616;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: transparent;
    text-align: center;
    line-height: 75px; }
    .content .progress-circle-svg {
      transform: rotate(-90deg); }
    .content .progress-circle-number {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      z-index: 1; }
  .content .progress-number {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1; }
  .content .infomation {
    padding-top: 12px; }
  .content .profile-name h5 {
    display: inline-block; }
  .content .profile-name .icon {
    width: 15px;
    margin-right: 2px;
    margin-top: 2px; }
    .content .profile-name .icon .level {
      width: 13.5px; }
  .content .profile-name:not(:first-child) {
    margin-top: 8px; }
  .content .major-skill {
    max-width: calc(100% - 22px); }
  .content .major .icon {
    width: 15px;
    margin-right: 7px; }
    .content .major .icon img {
      width: 15px; }

.card {
  background: #fff;
  padding: 12px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08) !important;
  margin-bottom: 12px; }
  .card-title {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 7px;
    color: #0096a7; }
  .card-label {
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: 300;
    line-height: 12px; }
    .card-label--item {
      font-weight: bold;
      margin-bottom: 5px; }
  .card-block {
    color: #6c757d; }
  .card .choose {
    background: #f8f9fa;
    margin: 0px 8px;
    border-radius: 2px;
    display: flex;
    align-items: center; }
    .card .choose p {
      padding: 0px 8px;
      line-height: 24px;
      margin: 0;
      display: inline-block; }
    .card .choose__btn {
      display: inline-block;
      width: 13px;
      height: 13px;
      background: #00e676;
      border: 3px solid #ffffff;
      border-radius: 50%;
      position: relative;
      margin-left: auto; }
    .card .choose-item {
      display: inline-block;
      background: #f8f9fa;
      padding: 3px 7px;
      color: #6c757d;
      margin: 0 4px 6px 0;
      border-radius: 1px; }
  .card .salary {
    background: #e2fafe;
    padding: 7px 7px;
    margin: 0px 8px;
    margin-top: 5px;
    border-radius: 2px; }
    .card .salary-item:not(:last-child) {
      margin-bottom: 8px; }
    .card .salary-label {
      display: block;
      font-weight: bold;
      margin-bottom: 0px; }
      .card .salary-label .icon {
        margin-right: 2px;
        max-width: 10px; }
        .card .salary-label .icon .money {
          width: 8.25px; }
    .card .salary-money {
      display: inline;
      font-size: 10px;
      font-weight: bold;
      color: #04646d; }
  .card .remote {
    display: block; }
    .card .remote .card-label--item {
      display: inline-block; }
    .card .remote .input-value {
      padding-left: 8px;
      padding-right: 8px; }
  .card .bar-language-profile {
    margin-top: 8px;
    position: relative;
    overflow-x: hidden;
    animation: 3s;
    max-width: 66.66667%; }
    .card .bar-language-profile-item {
      width: 100%;
      height: 6px;
      top: 0px;
      left: 0px;
      background: #e9ecef;
      display: block;
      position: relative; }
      .card .bar-language-profile-item-bg {
        width: 100%;
        display: block;
        background: #e9edef;
        bottom: 0; }
      .card .bar-language-profile-item-level {
        height: 6px;
        position: absolute;
        background: #117a8b; }
  .card .item {
    margin-top: 8px; }
    .card .item:first-child {
      margin-top: 0; }
  .card .custom-width {
    min-width: 75px;
    line-height: 13px; }
    .card .custom-width .icon {
      width: 15px;
      height: 15px;
      display: inline-block;
      text-align: center;
      line-height: 15px;
      background: #fff;
      margin-right: 2px;
      color: #117a8b;
      width: 15px; }
      .card .custom-width .icon .phone {
        width: 5px; }
      .card .custom-width .icon .envelope {
        width: 8px; }
      .card .custom-width .icon .user {
        width: 10px; }
      .card .custom-width .icon .birthday {
        width: 7px; }
  .card .job {
    margin-top: 4px;
    margin-bottom: 2px;
    font-weight: 700 !important;
    color: #6c757d; }
  .card .edu {
    display: inline-block;
    vertical-align: middle; }
    .card .edu .icon {
      float: left;
      min-width: 40px; }
      .card .edu .icon .building {
        width: 40px; }
    .card .edu-content {
      float: left;
      vertical-align: middle; }
  .card .list-unstyled {
    display: inline-block; }

.line-chart {
  height: 5px;
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden; }
  .line-chart-background {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #578d97; }
  .line-chart-number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px; }
    .very-low .line-chart-number {
      background-color: #f44336; }
    .low .line-chart-number {
      background-color: #ff6d00; }
    .fair .line-chart-number {
      background-color: #ffc107; }
    .good .line-chart-number {
      background-color: #058bfc; }
    .excellent .line-chart-number {
      background-color: #35d895; }

.very-low .info-top-profile-text-strength .input-value {
  color: #f44336; }
.low .info-top-profile-text-strength .input-value {
  color: #ff6d00; }
.fair .info-top-profile-text-strength .input-value {
  color: #ffc107; }
.good .info-top-profile-text-strength .input-value {
  color: #058bfc; }
.excellent .info-top-profile-text-strength .input-value {
  color: #35d895; }

/*# sourceMappingURL=index.css.map */
