$width: 700px;
.font-50 {
    font-size: 25px;
}
.font-30 {
    font-size: 15px;
}
.font-18 {
    font-size: 9px;
}
.font-16 {
    font-size: 8px;
}
.font-14 {
    font-size: 7px;
}
.clear {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.middle {
    display: inline-block !important;
    vertical-align: middle !important;
}
.top {
    display: inline-block !important;
    vertical-align: top !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
body {
    * {
        outline: 0 !important;
        text-align: left;
    }
    margin: 0 !important;

    font-size: 8px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    color: #343a40;
    img {
        width: 100%;
        max-width: 100%;
    }
    svg {
        overflow: hidden;
        vertical-align: middle;
    }
    p {
        margin: 0px;
        @extend .font-16;
        line-height: 13px;
        font-weight: 300;
        color: #022629;
    }
    h2 {
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0px;
        font-size: 18px;
        line-height: 23px;
    }
    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0px;
        @extend .font-30;
        line-height: 20px;
    }
    h4 {
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0px;
        font-size: 12px;
        line-height: 17px;
    }
    h5 {
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0px;
        @extend .font-18;
        line-height: 14px;
    }
    p {
        margin: 0px;
        @extend .font-16;
        line-height: 13px;
        font-weight: 300;
        color: #022629;
    }
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.layout-templet {
    background: #e5f2f4;
    // background: rgba(0, 131, 143, 0.1);
    // background-size: 22px 22px;
}

.container {
    width: $width;
    // width: 100%;
    margin: 0 auto;
    padding: 0 8px;

    .pl-0 {
        padding-left: 0;
    }
    .pr-0 {
        padding-right: 0;
    }
    .pl-16 {
        padding-left: 8px;
    }
    .pr-16 {
        padding-right: 8px;
    }
    .p-0 {
        padding: 0;
    }
    .mb-15 {
        margin-bottom: 7px;
    }
    .mt-15 {
        margin-top: 7px;
    }
    .mb-0 {
        margin-bottom: 0 !important;
    }
    .mt-0 {
        margin-top: 0 !important;
    }
    .mt-1 {
        margin-top: 2px !important;
    }
    .mb-1 {
        margin-bottom: 2px !important;
    }
    .m-0 {
        margin: 0 !important;
    }
    .p-0 {
        padding: 0 !important;
    }
    .font-700 {
        font-weight: 700;
    }
    .font-600 {
        font-weight: 600;
    }
    .font-500 {
        font-weight: 500;
    }
    .font-400 {
        font-weight: 400;
    }
    .font-300 {
        font-weight: 300;
    }

    .align-self-center {
        align-self: center !important;
    }
    .color-fff {
        color: #ffffff;
    }
    .color-ffffffb8 {
        color: #ffffffb8;
    }
    .color-ffffffc9 {
        color: #bccac2;
    }
    .icon {
        display: inline-block;
        opacity: 1;
        vertical-align: middle;
        // padding: 0.5px;
    }
    .w-100 {
        width: 100%;
    }
}
.header {
    padding: 2px 0;
    display: block;
    align-items: center;
    background: #08626f;

    .logo {
        display: block;
        width: 75px;
        margin: 5px 0;
        padding: 0 8px;
    }
}
.content {
    padding-bottom: 36px;
    // height: 100%;
    .top-info {
        background: #005563;
        padding: 30px 0px;
    }

    .avatar {
        position: relative;
        overflow: hidden;

        &-img {
            width: 70px;
            height: 70px;
            border-radius: 2px;

            background-color: #fff;
            color: #e2f5f8;

            img {
                border-radius: 2px;
                width: 70px;
                height: 70px;
                object-fit: contain;
            }
        }
        &-text {
            border-radius: 2px;
            width: 70px;
            height: 70px;

            background-color: #bdf4e5;
            color: #333333;
            text-align: center;

            display: block;
            font-size: 25px;
            font-weight: 700;
            line-height: 70px;
        }
    }
    .location {
        color: #fff;
        opacity: 0.6;
        display: inline-block;
        vertical-align: middle;
        .icon {
            display: inline-block;
            max-width: 5px;
            margin-right: 4px;
            .marker {
                width: 5.25px;
            }
        }
    }
    .progress-circle {
        margin: 12px auto;

        width: 80px;
        height: 80px;
        @extend .font-30;
        color: #161616;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background: transparent;
        text-align: center;
        line-height: 75px;
        &-svg {
            transform: rotate(-90deg);
        }
        &-number {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            z-index: 1;
        }
    }
    .progress-number {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 1;
    }
    .infomation {
        padding-top: 12px;
    }
    .profile-name {
        h5 {
            display: inline-block;
        }

        .icon {
            width: 15px;
            margin-right: 2px;
            margin-top: 2px;
            .level {
                width: 13.5px;
            }
        }
        &:not(:first-child) {
            margin-top: 8px;
        }
    }
    .major {
        // &-item {

        // }
        &-skill {
            max-width: 440px;
        }
        .icon {
            width: 15px;
            margin-right: 7px;
            img {
                width: 15px;
            }
        }
    }
}
.card {
    background: #fff;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08) !important;
    margin-bottom: 12px;
    &-title {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 7px;
        color: #0096a7;
    }
    &-label {
        color: rgba(0, 0, 0, 0.5) !important;
        font-weight: 300;
        @extend .font-16;
        line-height: 12px;
        &--item {
            font-weight: bold;
            @extend .font-14;
            margin-bottom: 5px;
        }
    }
    &-block {
        color: #6c757d;
    }
    .choose {
        background: #f8f9fa;
        margin: 0px 8px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        p {
            padding: 0px 8px;
            line-height: 24px;
            margin: 0;
            display: inline-block;
        }
        &__btn {
            display: inline-block;
            width: 13px;
            height: 13px;
            background: #00e676;
            border: 3px solid #ffffff;
            border-radius: 50%;
            position: relative;
            margin-left: auto;
        }
        &-item {
            display: inline-block;
            background: #f8f9fa;
            padding: 3px 7px;
            @extend .font-14;
            color: #6c757d;
            margin: 0 4px 6px 0;
            border-radius: 1px;
        }
    }

    .salary {
        background: #e2fafe;
        padding: 7px 7px;
        margin: 0px 8px;
        margin-top: 5px;
        border-radius: 2px;
        &-item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        &-label {
            display: block;
            font-weight: bold;
            @extend .font-14;
            margin-bottom: 0px;
            .icon {
                margin-right: 2px;
                max-width: 10px;
                .money {
                    width: 8.25px;
                }
            }
        }
        &-money {
            display: inline;
            font-size: 10px;
            font-weight: bold;
            color: #04646d;
        }
    }
    .remote {
        display: block;
        .card-label--item {
            display: inline-block;
        }
        .input-value {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .bar-language-profile {
        margin-top: 8px;
        position: relative;
        overflow-x: hidden;
        animation: 3s;
        max-width: 66.66667%;

        &-item {
            width: 100%;
            height: 6px;
            top: 0px;
            left: 0px;
            background: #e9ecef;
            display: block;
            position: relative;
            &-bg {
                width: 100%;
                display: block;
                background: #e9edef;
                bottom: 0;
            }
            &-level {
                height: 6px;
                position: absolute;
                background: #117a8b;
            }
        }
    }
    .item {
        margin-top: 8px;
        &:first-child {
            margin-top: 0;
        }
    }

    .process {
        > span {
            @extend .font-14;
        }
    }

    .custom-width {
        min-width: 75px;
        line-height: 13px;
        display: inline-block;
        .icon {
            width: 15px;
            height: 15px;
            display: inline-block;
            text-align: center;
            line-height: 15px;
            background: #fff;
            margin-right: 2px;
            color: #117a8b;
            width: 15px;
            .phone {
                width: 5px;
            }
            .envelope {
                width: 8px;
            }
            .user {
                width: 10px;
            }
            .birthday {
                width: 7px;
            }
        }
    }
    .job {
        margin-top: 4px;
        margin-bottom: 2px;
        font-weight: 700 !important;
        color: #6c757d;
    }
    .edu {
        display: inline-block;
        vertical-align: middle;
        .icon {
            float: left;
            min-width: 40px;
            .building {
                width: 40px;
            }
        }
        &-content {
            float: left;
            vertical-align: middle;
        }
    }
    .list-unstyled {
        display: block;
    }
}
.line-chart {
    height: 5px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    &-background {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: #578d97;
    }
    &-number {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 5px;
        // background-color: #4aa54a;
        .very-low & {
            background-color: #f44336;
        }
        .low & {
            background-color: #ff6d00;
        }
        .fair & {
            background-color: #ffc107;
        }
        .good & {
            background-color: #058bfc;
        }
        .excellent & {
            background-color: #35d895;
        }
    }
}
.info-top-profile-text-strength {
    .input-value {
        .very-low & {
            color: #f44336;
        }
        .low & {
            color: #ff6d00;
        }
        .fair & {
            color: #ffc107;
        }
        .good & {
            color: #058bfc;
        }
        .excellent & {
            color: #35d895;
        }
    }
}
.stamp {
    position: relative;
    &-item {
        display: block;
        color: #ffffffd4;
        text-align: center;
        text-transform: capitalize;
        transform: rotateZ(-42deg);
        position: absolute;
        width: 100px;
        top: -65px;
        left: -35px;
        @extend .font-14;
    }
    .vetting {
        background-color: #00a5b9;
    }
    .invited {
        background-color: #00505d;
    }
}
